USE [master]
GO
/****** Object:  Database [QuanLyLinhKien]    Script Date: 4/1/2022 8:04:51 PM ******/
CREATE DATABASE [QuanLyLinhKien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyLinhKien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLyLinhKien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyLinhKien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLyLinhKien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyLinhKien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyLinhKien]
GO
USE [QuanLyLinhKien]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 4/1/2022 8:04:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MALINHKIEN] [nchar](10) NOT NULL,
	[MAHD] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CTHOADON] PRIMARY KEY CLUSTERED 
(
	[MALINHKIEN] ASC,
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/1/2022 8:04:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nchar](10) NOT NULL,
	[NGAYLAPHD] [date] NOT NULL,
	[MAKH] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[TONGTHANHTIEN] [money] NOT NULL,
	[TIENMAT] [money] NOT NULL,
	[TIENDU] [money] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/1/2022 8:04:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[SDT] [varchar](12) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINHKIEN]    Script Date: 4/1/2022 8:04:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINHKIEN](
	[MALINHKIEN] [nchar](10) NOT NULL,
	[TENLINHKIEN] [nvarchar](50) NOT NULL,
	[DONGIA] [money] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[MALOAILINHKIEN] [nchar](10) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[MANCC] [nchar](10) NULL,
 CONSTRAINT [PK_LINHKIEN] PRIMARY KEY CLUSTERED 
(
	[MALINHKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAILINHKIEN]    Script Date: 4/1/2022 8:04:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAILINHKIEN](
	[MALOAILINHKIEN] [nchar](10) NOT NULL,
	[TENLOAILINHKIEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAILINHKIEN] PRIMARY KEY CLUSTERED 
(
	[MALOAILINHKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 4/1/2022 8:04:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[QUOCTICH] [nvarchar](50) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/1/2022 8:04:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[CMND] [varchar](12) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[CHUCVU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/1/2022 8:04:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [nchar](255) NOT NULL,
	[MATKHAU] [nchar](255) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAPHD], [MAKH], [MANV], [TONGTHANHTIEN], [TIENMAT], [TIENDU], [TRANGTHAI]) VALUES (N'HD01      ', CAST(N'2022-04-01' AS Date), N'KH01      ', N'NV01      ', 0.0000, 0.0000, 0.0000, 1)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [GIOITINH]) VALUES (N'KH01      ', N'Hứa Chiêu Minh', N'056 018 6237', N'	Xã Ia Piar, Huyện Phú Thiện, Gia Lai', N'Nam')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [GIOITINH]) VALUES (N'KH02      ', N'Doãn Bích Ty', N'082 694 1725', N'Xã Suối Rao, Huyện Châu Đức, Bà Rịa - Vũng Tàu', N'Nữ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [GIOITINH]) VALUES (N'KH03      ', N'Thập Tiến Hiệp', N'081 498 6105', N'Xã Lương Phú, Huyện Phú Bình, Thái Nguyên', N'Nam')
INSERT [dbo].[LINHKIEN] ([MALINHKIEN], [TENLINHKIEN], [DONGIA], [SOLUONG], [MALOAILINHKIEN], [TRANGTHAI], [MANCC]) VALUES (N'LK01      ', N'Intel Pentium G6400', 1690000.0000, 81, N'LLK01     ', 1, N'NCC01     ')
INSERT [dbo].[LINHKIEN] ([MALINHKIEN], [TENLINHKIEN], [DONGIA], [SOLUONG], [MALOAILINHKIEN], [TRANGTHAI], [MANCC]) VALUES (N'LK02      ', N'Intel Core i3 10105F', 2190000.0000, 20, N'LLK01     ', 1, N'NCC01     ')
INSERT [dbo].[LINHKIEN] ([MALINHKIEN], [TENLINHKIEN], [DONGIA], [SOLUONG], [MALOAILINHKIEN], [TRANGTHAI], [MANCC]) VALUES (N'LK03      ', N'AMD Ryzen 3 3200G', 2990000.0000, 34, N'LLK01     ', 1, N'NCC02     ')
INSERT [dbo].[LOAILINHKIEN] ([MALOAILINHKIEN], [TENLOAILINHKIEN]) VALUES (N'LLK01     ', N'CPU')
INSERT [dbo].[LOAILINHKIEN] ([MALOAILINHKIEN], [TENLOAILINHKIEN]) VALUES (N'LLK02     ', N'RAM')
INSERT [dbo].[LOAILINHKIEN] ([MALOAILINHKIEN], [TENLOAILINHKIEN]) VALUES (N'LLK03     ', N'CARD')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [QUOCTICH], [TRANGTHAI]) VALUES (N'NCC01     ', N'Intel', N'Hi-Tech Park, Lô I2, Đường D1, Hồ Chí Minh', N'Hoa Kỳ', 1)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [QUOCTICH], [TRANGTHAI]) VALUES (N'NCC02     ', N'AMD', N'P.501, 383 Võ Văn Tần, Phường 05, Quận 03, TP.HCM', N'Hoa Kỳ', 1)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [QUOCTICH], [TRANGTHAI]) VALUES (N'NCC03     ', N'Gigabyte', N'2 Nguyễn Văn Công, Phường 3, Gò Vấp HCM', N'Đài Loan', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CMND], [SDT], [DIACHI], [CHUCVU]) VALUES (N'NV01      ', N'Đoàn Ngọc Quốc Bảo', N'245422915', N'0911336236', N'16/19 Nguyễn Văn Nghi', N'Quản lý')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CMND], [SDT], [DIACHI], [CHUCVU]) VALUES (N'NV02      ', N'Phan Ngọc Nam', N'243455977', N'0394064464', N'12/16 Lê lợi ', N'Nhân Viên')
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_CTHD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_HD_CTHD]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_LK_CTHD] FOREIGN KEY([MALINHKIEN])
REFERENCES [dbo].[LINHKIEN] ([MALINHKIEN])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_LK_CTHD]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_MAKH_MAKHKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_MAKH_MAKHKH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_MANV_MANVNV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_MANV_MANVNV]
GO
ALTER TABLE [dbo].[LINHKIEN]  WITH CHECK ADD  CONSTRAINT [FK_LOAILK_LINHKIEN] FOREIGN KEY([MALOAILINHKIEN])
REFERENCES [dbo].[LOAILINHKIEN] ([MALOAILINHKIEN])
GO
ALTER TABLE [dbo].[LINHKIEN] CHECK CONSTRAINT [FK_LOAILK_LINHKIEN]
GO
ALTER TABLE [dbo].[LINHKIEN]  WITH CHECK ADD  CONSTRAINT [FK_NCC_LINHKIEN] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[LINHKIEN] CHECK CONSTRAINT [FK_NCC_LINHKIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_MANVTK_MANVNV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_MANVTK_MANVNV]
GO
USE [master]
GO
